body {
	font-family: $body-font-family;
	font-weight: $font_weight_body;
	line-height: $body_line_height;
	color:       $body_color;
	font-size:   $body_font_size;
}

a {
	color: $body_color;
	&:hover {
		color: $body_color_primary;
	}
}

h1, h2, h3, h4, h5, h5, h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	color:       $heading-color;
	a {
		//font-family: $heading-font-family;
		color: $heading-color;
		&:hover {
			color: $body_color_primary;
		}
	}
}

.sc-list-posts .news-details .post-title a,
.content-area .wrapper-blog-content .entry-title,
.comments-area .comments-title, .comments-area .comment-reply-title,
.woocommerce .shop-single-v1-section .summary .product_title,
.page-not-found .page-detail .page-inner .title,
.page-not-found .page-detail .page-inner .search-form .search-submit {
	font-family: $body-font-family;
}

.special-heading:before, .vc_custom_heading.zigzag:before,
.breadcrumb-section .heading_primary:before, .content-area .content-blog-masonry .content-item .entry-title:before,
.banner-section .banner-layout-2 .text-1:before, .banner-section .banner-layout-4 .text-1:before,
.banner-section .banner-layout-5 .text-1:before, .wpb_heading.wpb_progress_bar_heading:before,
.sc-posts-layout_2 .gird-item .post-title:before, .widget-area aside .widget-title:before, .heading-special .widget-title:before {
	background-color: $body_color_primary
}

.wc-sc-product {
	&.featured-layout-3 {
		.es-nav span:hover {
			color: $body_color_primary
		}
	}
}

.content-area {
	.wrapper-blog-content .final-blog .product-share a:hover {
		color: $body_color_primary
	}
	.content-blog-masonry {
		.entry-title {
			font-size: $font_size_h4 + px;
		}
	}
}

h1, .related > h2, .up-sells > h2,
.heading-special .widget-title {
	font-size: $font_size_h1 + px;
}

h2, .single .content-area .wrapper-blog-content .entry-title,
.woocommerce .shop-single-v1-section .summary .product_title,
.woocommerce .shop-single-v1-section .summary .price,
.canvas-right-content .widget-title {
	font-size: $font_size_h2 + px;
}

h3 {
	font-size: $font_size_h3 + px;
}

h4 {
	font-size: $font_size_h4 + px;
}

.widget-area aside .widget-title {
	font-size: $font_size_title_sidebar + px;
}

h2.special-heading, .wpb_heading.wpb_progress_bar_heading {
	font-size: $font_size_title_home + px;
}

h3.special-heading {
	font-size: $font_size_h1 + px;
}

.breadcrumb-section .heading_primary {
	font-size: $font_size_title_home + px;
}

h5, .single .content-area .single-blog-content .related-posts .post-inner h5 {
	font-size: $font_size_h5 + px;
}

h6 {
	font-size: $font_size_h6 + px;
}

.woocommerce, .woocommerce-page {
	.star-rating:before, .star-rating span, p.stars a {
		color: $body_color_primary;
	}
	ul.products, div.products {
		li.product, div.product {
			.product-image {
				.box-hover {
					.quick-view, a.button, .yith-wcwl-add-to-wishlist a, .wc-forward {
						background-color: $body_color_primary;
						color:            $text_color_button;
						&:hover {
							background: $background_button_hover;
						}
					}

					.yith-wcwl-add-to-wishlist {
						a {
							color: $text_color_button;
							&:hover {
								background: $background_button_hover;
							}
						}
						.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistexistsbrowse {
							a {
								background: $background_button_hover;
							}
						}
					}

					.wc-forward {
						background: $background_button_hover;
					}
				}
			}

			.wrapper-content-item {
				.cat_product {
					a {
						&:hover {
							color: $body_color_primary;
						}
					}
				}
				span.price {
					color: $body_color_primary;
				}
			}

			span.onsale {

				background: $body_color_primary;
			}
		}
	}
}

.special-heading:before, .related > h2:before, .up-sells > h2:before,
.vc_custom_heading.zigzag:before, .breadcrumb-section .heading_primary:before,
.content-area .content-blog-masonry .content-item .entry-title:before,
.banner-section .banner-layout-2 .text-1:before, .banner-section .banner-layout-4 .text-1:before, .banner-section .banner-layout-5 .text-1:before,
.wpb_heading.wpb_progress_bar_heading:before, .sc-posts-layout_2 .gird-item .post-title:before, .widget-area aside .widget-title:before,
.heading-special .widget-title:before, .woocommerce .shop-single-v1-section .images .onsale, .woocommerce .shop-single-v1-section .images .onnew{
	background-color: $body_color_primary
}

.woocommerce .woocommerce-info {
	border-top-color: $body_color_primary;
}

.single-blog-content blockquote:before {
	color: $body_color_primary;
}

.search-overlay .closeicon:hover {
	&:before, &:after {
		background: $body_color_primary;
	}
}

.banner-section {
	.banner-layout-1, .banner-layout-2 {
		.text-1, .text-2 {
			font-family: $heading-font-family;
		}
	}
	.banner-layout-1 .text-1:before {
		background: $body_color_primary;
	}
	.banner-layout-3 {
		.text-number {
			color: $body_color_primary;
		}
	}
}

.error {
	border-color: $body_color_primary;
	&.placeholder {
		color: $body_color_primary;
	}

	&:-moz-placeholder {
		color: $body_color_primary;
	}

	&::-webkit-input-placeholder {
		color: $body_color_primary;
	}

	&:-ms-input-placeholder {
		color: $body_color_primary;
	}
}

.page-links {
	> span:not(.page-links-title), a:hover > span {
		color:        $body_color_primary;
		border-color: $body_color_primary
	}
}

.footer__arrow-top {
	color: $body_color_primary;
	&:hover {
		color: $body_color;
	}
}

// footer
.wrapper-footer {
	background-color: $bg_footer;
	color:            $text_color_footer;
	hr {
		background-color: $border_footer
	}
	a {
		color: $text_color_footer;
		&:hover {
			color: $text_link_color_footer;
		}
	}
	.widget-title {
		color:     $title_color_footer;
		font-size: $title_font_size_footer +px;

	}

	.widget-social a {
		&:hover {
			border-color: $text_link_color_footer;
			color:        $text_link_color_footer;
		}
	}
}

.header-hp-1 {
	&.style-header-hp-1 {
		background: $bg_header_color;
	}
	.logo {
		width: $width_logo;
	}
}

.comments-area {
	.comment-respond {
		.form-submit {
			input#submit {
				background: $background_button;
				color:      $text_color_button;
				&:hover {
					background: $background_button_hover;
					color:      $text_color_button_hover;
				}
			}
		}
	}
}

.woocommerce, .woocommerce-page {
	.woocommerce-error, .woocommerce-info, .woocommerce-message {
		border-top-color: $body_color_primary;
	}
	.woocommerce-message:before {
		color: $body_color_primary;
	}
}

.au-btn, .woocommerce a.button.alt, .woocommerce .button.wc-backward,
.woocommerce button.button, .woocommerce input.button, .sc-product-showcase .inner-item-product a.button,
.woocommerce .button.wc-forward, .woocommerce .woocommerce-info a.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-wishlist .wishlist_table .product-add-to-cart .button {
	color:  $background_button;
	border: 1px solid $background_button;
	&:hover {
		background: $background_button_hover;
		color:      $text_color_button_hover;
		border:     1px solid $background_button_hover;
	}
}

.wishlist_table tr td.product-stock-status span.wishlist-in-stock {
	color: $body_color_primary;
}

.woocommerce .woocommerce-cart-form .shop_table tbody .actions > button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	background: $background_button_hover;
	color:      $text_color_button_hover;
	border:     1px solid $background_button_hover;
	&:hover {
		background: $background_button;
		color:      $text_color_button;
		border:     1px solid $background_button;
	}
}

.woocommerce .woocommerce-checkout-review-order table tfoot .woocommerce-Price-amount,
.woocommerce .woocommerce-cart-form .shop_table tbody .cart_item .product-subtotal {
	color: $body_color_primary;
}

//

.woocommerce, .woocommerce-page {
	ul.products, div.products {
		li.product, div.product {
			.wrapper-content-item {
				.cat_product a:hover {
					color: $body_color_primary;
				}
				.woocommerce-loop-product_title a {
					font-family: $body-font-family;
					&:hover {
						color: $body_color_primary;
					}
				}
				//a.button, .wc-forward {
				//	color:  $body_color_primary;
				//	border: 1px solid $body_color_primary;
				//	&:before {
				//		background-color: $body_color_primary;
				//	}
				//	&:hover {
				//		background: $body_color_primary;
				//		&:before {
				//			background-color: $text_color_button_hover;
				//		}
				//	}
				//}
				//.wc-forward {
				//	background: $background_button_hover;
				//	border:     1px solid $background_button_hover;
				//	&:before {
				//		background-color: $text_color_button_hover;
				//		border:           1px solid $text_color_button_hover;
				//	}
				//}
			}
		}
	}
}

.widget_shopping_cart {
	.widget_shopping_cart_content {
		.buttons {
			a:hover {
				color:      $body_color_primary;
				background: transparent;
			}
		}
	}
}

#canvas-btn span {
	border-bottom: 2px solid $text_menu_color;
	&:before, &:after {
		background: $text_menu_color;
	}
}

.widget_shopping_cart .minicart_hover .icon-bag {
	background: $text_menu_color;
}

.widget_shopping_cart .minicart_hover .cart-items-number span.wrapper-items-number {
	color: $text_menu_color;
}

@media (min-width: 1025px) {
	.header-hp-1 {
		.menu-desktop-inner {
			.main-menu .navmenu {
				> .menu-item {
					> a {
						text-transform: $text_transform_main_menu;
						color:          $text_menu_color;
						font-weight:    $font_weight_main_menu;
						font-size:      $font_size_main_menu;
						&:before {
							background: $bg_menu_hover_color;
						}
					}
					&.current-menu-item > a, &:hover a, &.current-menu-parent > a {
						color: $text_menu_hover_color;
					}
					.sub-menu {
						color:      $sub_menu_text_color;
						background: $sub_menu_bg_color;
						li {
							&.current-menu-item > a {
								color: $sub_menu_text_hover_color;
							}
							&:hover {
								a {
									color: $sub_menu_text_color;
									&:hover {
										color: $sub_menu_text_hover_color;
									}
								}
							}
						}
						a {
							font-weight: $font_weight_sub_menu;
							font-size:   $font_size_sub_menu;
							color:       $sub_menu_text_color;
							&:before {
								background: $sub_menu_text_hover_color;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.header-hp-1 {
		.hamburger--spin {
			.hamburger-inner {
				background-color: $icon_color;
				&:before, &:after {
					background-color: $icon_color;
				}
			}
		}
		.menu-desktop-inner {
			.main-menu {
				background-color: $mobile_menu_bg_color;
				ul {
					li {
						border-top: 1px solid $mobile_border_item_color;
						.show-submenu-mobile {
							color: $mobile_menu_text_color;
						}
						&.current-menu-item > a, > a:hover, &.current-menu-parent > a {
							color: $mobile_menu_text_hover_color;
						}
						a {
							background-color: $mobile_menu_bg_color;
							color:            $mobile_menu_text_color;
						}
						&:last-child {
							border-bottom: 1px solid $mobile_border_item_color;
						}
						&.menu-item-has-children .sub-menu li a {
							background-color: $mobile_sub_menu_bg_color;
						}
					}
				}
			}
		}
		.logo {
			width: $width_logo_mobile;
		}
	}

}

@media (max-width: 993px) {

}

@media (max-width: 768px) {
	h2.special-heading, .wpb_heading.wpb_progress_bar_heading,
	.related > h2, .up-sells > h2,
	.heading-special .widget-title,
	.breadcrumb-section .heading_primary {
		font-size: $font_size_h1 + px;
	}
	.woocommerce .shop-single-v1-section .summary .price {
		font-size: $font_size_h3 + px;
	}
}

@media (max-width: 380px) {

	h1, .single .content-area .wrapper-blog-content .entry-title,
	.breadcrumb-section .heading_primary, .related > h2, .up-sells > h2 {
		font-size: $font_size_h2 + px;
	}
	h2, h3.special-heading {
		font-size: $font_size_h3 + px;
	}

	h3 {
		font-size: $font_size_h4 + px;
	}

	h4, .content-area .wrapper-blog-content .entry-title {
		font-size: $font_size_h5 + px;
	}

	h5 {
		font-size: $font_size_h6 + px;
	}
}