/* Deal Off Section */
.deal-hp-2 {
	.deal-content {
		@include background-size(cover);
		background-position: center center;
		background-repeat:   no-repeat;
		text-align:          center;
		position:            relative;
		padding:             120px 0 100px;
		p {
			font-size:   17px;
			font-weight: 300;
			color:       #000;
			b {
				font-weight: 600;
				color:       #ff6666;
			}
		}
		.special-heading {
			padding-top:   13px;
			margin-bottom: 70px;
			&:before {
				background-color: #fff;
			}
		}
		.wrap-countdown {
			@extend display-flex;
			@include align-items(center);
			@include justify-content(center);
			line-height: 1.67;
			.countdown-section {
				margin:                    0 30px;
				padding:                   5px 0 25px 0;
				display:                   inline-block;
				background:                #fff;
				border-top:                12px solid #8ce6ff;
				text-align:                center;
				width:                     120px;
				position:                  relative;
				border-bottom-left-radius: 18px;
				.countdown-amount {
					margin:      0;
					padding:     0;
					font-size:   70px;
					display:     block;
					line-height: 1.2;
					font-weight: 600;
				}
				.countdown-period {
					font-size:   17px;
					padding:     0;
					line-height: 1.2;
					display:     block;
				}

				&:before {
					content:       " ";
					height:        12px;
					background:    #f2f2f2;
					width:         100%;
					z-index:       300;
					position:      absolute;
					bottom:        0;
					right:         -15px;
					display:       block;
					border-radius: 0 0 15px 0;
					transform:     skewX(-10deg);
				}
				&::after {
					content:       " ";
					height:        20px;
					width:         25px;
					bottom:        1px;
					background:    #fff;
					position:      absolute;
					border-radius: 26px 3px 30px 10px;
					left:          10px;
					z-index:       301;
				}
			}
		}
		.shop {
			padding-top: 70px;
			.btn-small {
				padding:        13px 30px;
				background:     #fff;
				border-color:   #fff;
				text-transform: uppercase;
				font-weight:    500;
				&:hover {
					background:   #333;
					border-color: #333;
				}
			}
			i {
				display: none;
			}
		}

	}
	@include breakpoint(767) {
		.deal-content {
			padding: 60px 0 40px;
			.wrap-countdown {
				.countdown-section {
					margin: 0 15px 20px 15px;
					width:  110px;
					.countdown-amount {
						font-size: 60px;
					}
				}
			}
			.shop {
				padding-top: 40px;
			}
			.special-heading {
				margin-bottom: 45px;
			}
		}
	}
}

/* End Deal Off Section  */