* {
	@include box-sizing(border-box);
}

body {
	color:       #666;
	font-size:   15px;
	font-weight: 400;
	line-height: 1.67;
}

a {
	@include transition(all 0.3s ease 0.1s);
	text-decoration: none;
	color:           #333;
	&:hover {
		text-decoration: none;
		color:           #333;
	}
	&:focus,
	&:active {
		outline: 0;
	}
}

a img {
	border: none;
}

input[type=submit] {
	@include transition(0.3s);
}

img {
	max-width: 100%;
	height:    auto;
}

iframe {
	border:         none;
	vertical-align: top;
}

.au-btn, .woocommerce a.button.alt, .woocommerce .button.wc-backward,
.woocommerce button.button, .woocommerce input.button, .sc-product-showcase .inner-item-product a.button,
.woocommerce .button.wc-forward, .woocommerce .woocommerce-info a.button {
	@include transition(0.3s);
	border:        1px solid $border_color;
	display:       inline-block;
	line-height:   1;
	@include box-sizing(border-box);
	text-align:    center;
	color:         #333;
	background:    transparent;
	font-size:     15px;
	font-weight:   400;
	position:      relative;
	z-index:       9;
	border-radius: 0;
	&:hover {
		color:           #fff;
		text-decoration: none;
		background:      #333;
	}
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt {
	padding:        12px 30px;
	color:          #333;
	white-space:    nowrap;
	text-transform: uppercase;
	font-weight:    500;
}

.woocommerce {
	button.button, a.button.alt, .button.wc-forward, .button.wc-backward, .woocommerce-info a.button {
		padding: 12px 30px;
	}
	#respond input#submit, button.button, input.button {
		&.disabled, &:disabled[disabled], &:disabled {
			padding: 12px 30px;
		}
	}
}

.woocommerce #review_form #respond .form-submit input {
	@include transition(0.3s);
	border:        1px solid #333;
	display:       inline-block;
	line-height:   1;
	@include box-sizing(border-box);
	text-align:    center;
	color:         #333;
	background:    transparent;
	font-weight:   400;
	position:      relative;
	padding:       15px 35px;
	cursor:        pointer;
	border-radius: 0;

	&:hover {
		color:      #fff;
		background: #333;
	}
}

.au-btn-white {
	@include transition(0.3s);
	border:      1px solid #fff;
	display:     inline-block;
	line-height: 1;
	@include box-sizing(border-box);
	text-align:  center;
	color:       #fff;
	background:  transparent;
	font-size:   15px;
	font-weight: 400;
	position:    relative;
	z-index:     999;
	&:before {
		content:    "";
		position:   absolute;
		z-index:    -1;
		@include transition((all 0.5s));
		width:      0%;
		height:     100%;
		top:        0;
		left:       0;
		background: #333;
	}
	&:hover {
		color:           #fff;
		border:          1px solid #333;
		text-decoration: none;
		&:before {
			width: 100%;
		}
	}
}

.au-btn-black {
	@include transition(0.3s);
	border:      1px solid #333;
	display:     inline-block;
	line-height: 1;
	@include box-sizing(border-box);
	text-align:  center;
	color:       #fff;
	background:  #333;
	font-size:   15px;
	font-weight: 400;
	position:    relative;
	z-index:     999;
	&:before {
		content:    "";
		position:   absolute;
		z-index:    -1;
		@include transition((all 0.5s));
		width:      0%;
		height:     100%;
		top:        0;
		left:       0;
		background: #fff;
	}
	&:hover {
		color:           #333;
		text-decoration: none;
		&:before {
			width: 100%;
		}
	}
}

.btn-small {
	padding: 17px 24.5px;
}

.btn-medium {
	padding: 22.5px 53.5px;
}

.btn-large {
	padding: 24px 72px;
}

.more-link {
	font-size:   14px;
	font-weight: 700;
	color:       #333;
	&:hover {
		color: #dabc95;
	}
}

.section-box {
	padding-top:    150px;
	padding-bottom: 120px;
}

.special-heading, .related > h2, .up-sells > h2 {
	font-weight: 500;
	color:       #333;
	line-height: 1;
	@extend special-heading;
}

h3.special-heading {
	margin-bottom:  40px;
	padding-bottom: 15px;
}

.special-heading.text-left {
	text-align:     left;
	padding-bottom: 9px;
	margin-bottom:  40px;
	&:before {
		left:        0;
		margin-left: 0;
	}
}

.vc_custom_heading.zigzag {
	@extend special-heading;
	font-weight:   600;
	margin-bottom: 30px;
	&:before {
		height:      11px;
		width:       59px;
		left:        0;
		margin-left: 0;
	}
}

.vc_custom_heading.pecial-heading {
	&:before {
		background: #fff;
	}
}

.onnew,
.onsale {
	color:          #fff;
	font-weight:    500;
	letter-spacing: 2px;
	&:hover {
		color: #fff;
	}
}

.onnew {
	background: #88cce2;
	padding:    0 7.5px;
	&:hover {
		background: #5bc1e3;
	}
}

.onsale {
	background: #eba6aa;
	padding:    0 6.5px;
	&:hover {
		background: #eb8f94;
	}
}

.overlay {
	position: absolute;
	left:     0;
	top:      0;
	width:    100%;
	height:   100%;
	opacity:  0;
	@include transition(all .5s ease .1s);
	z-index:  9;
}

.breadcrumb-section,
.breadcrumb-menu-section {
	@include background-size(cover);
	background-repeat:   no-repeat;
	background-position: center center;
}

.breadcrumb-section {
	color:            #333;
	background-color: #f7f7f7;
	&.section-box {
		padding-top:    100px;
		padding-bottom: 100px;
	}
	.heading_primary {
		color:          inherit;
		font-weight:    500;
		font-size:      3em;
		padding-bottom: 15px;
		margin-bottom:  20px;
		text-align:     left;
		@extend special-heading;
		&:before {
			left:        0;
			margin-left: 0;
			width:       70px;
		}
	}
	.phys-breadcrumb {
		overflow:   hidden;
		list-style: none;
		margin:     0;
		li {
			list-style: none;
			float:      left;
			color:      inherit;
			&:after {
				content: "/";
				margin:  0 11px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
		a {
			color: inherit;

			&:hover {
				color: #333;
			}
		}

	}
	@include breakpoint(992) {
		&.section-box {
			padding-top:    80px;
			padding-bottom: 80px;
		}
		.heading_primary {
			font-size: 2.2em;
		}
		.phys-breadcrumb {
			font-size: 1.2em;
		}
	}
	@include breakpoint(768) {
		&.section-box {
			padding-top:    50px;
			padding-bottom: 50px;
		}
		.heading_primary {
			font-size: 2em;
		}
		.phys-breadcrumb {
			font-size: 1em;
		}
	}
}

.home .breadcrumb-section {
	.heading_primary {
		padding-bottom: 0;
	}
}

/* Back To Top Button */
.footer__arrow-top {
	color:       #333;
	position:    fixed;
	bottom:      -120px;
	right:       20px;
	text-align:  center;
	z-index:     999;
	height:      40px;
	width:       40px;
	line-height: 40px;
	border:      1px solid;
	cursor:      pointer;
	@include transition(background-color 0.3s linear);
}

/* End Back To Top Button */

/*Form*/
input,
select,
textarea,
.select-selected {
	width:   100%;
	padding: 6px 20px;
	border:  1px solid #e5e5e5;
	@include border-radius(0);
	color:   #666;
}

input:focus, select:focus, textarea:focus {
	@include outline(none);
	@include box-shadow-input(none);
}

input {
	@include input-placeholder(#999);
}

input[type="submit"] {
	width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	display: none;
}

textarea {
	@include textarea-placeholder(#999);
}

/*Images Loader*/
.images-preloader {
	position:         fixed;
	z-index:          100001;
	background-color: #eee;
	width:            100%;
	height:           100%;
}

#preloader_1 {
	position: relative;
}

.rectangle-bounce {
	text-align:  center;
	position:    absolute;
	top:         50%;
	left:        50%;
	margin-left: -15px;
	margin-top:  -10px;
}

#preloader_1 span {
	display:    block;
	bottom:     0px;
	width:      9px;
	height:     5px;
	background: #333;
	position:   absolute;
	@include animation(preloader_1 1.5s infinite ease-in-out);
}

#preloader_1 span:nth-child(2) {
	left: 11px;
	@include animation-delay(.2s);
}

#preloader_1 span:nth-child(3) {
	left: 22px;
	@include animation-delay(.4s);
}

#preloader_1 span:nth-child(4) {
	left: 33px;
	@include animation-delay(.6s);
}

#preloader_1 span:nth-child(5) {
	left: 44px;
	@include animation-delay(.8s);
}

@keyframes preloader_1 {
	0% {
		height:     5px;
		@include transform(translateY(0px));
		background: #333;
	}
	25% {
		height:     30px;
		@include transform(translateY(15px));
		background: #333;
	}
	50% {
		height:     5px;
		@include transform(translateY(0px));
		background: #333;
	}
	100% {
		height:     5px;
		@include transform(translateY(0px));
		background: #333;
	}
}

.wrapper-view-move {
	position: relative;
}

.wrapper-view-move .page-load-status {
	position:   absolute;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
	background: #fff;
	z-index:    1000;
	display:    none;
	.loading {
		text-align:  center;
		position:    absolute;
		top:         50%;
		left:        50%;
		margin-left: -15px;
		margin-top:  -10px;
	}
	span {
		&:before, &:after {
			content:    "";
			display:    block;
			bottom:     0px;
			width:      9px;
			height:     5px;
			background: #333;
			position:   absolute;
			@include animation(preloader_1 1.5s infinite ease-in-out);
		}
	}
	span:nth-child(1):after {
		left: 11px;
		@include animation-delay(.2s);
	}
	span:nth-child(2):before {
		left: 22px;
		@include animation-delay(.4s);
	}
	span:nth-child(2):after {
		left: 33px;
		@include animation-delay(.6s);
	}
	span:nth-child(3):before {
		left: 44px;
		@include animation-delay(.8s);
	}
}